$text: #4E4E4E;
$toparea: #4C565A;
$border: #AAA9A9;
$blue: #4990E1;
$orange: #F8A823;
$purple: #7746A1;


@include font("PTSerifRegular", PTF55F-webfont);
@include font("PTSerifBold", PTF75F-webfont);
@include font("PTSerifItalic", PTF56F-webfont);
@include font("PTSansRegular", PTS55F-webfont);
@include font("PTSansItalic", PTS56F-webfont);
@include font("PTSansBold", PTS75F-webfont);
@mixin serif {
  font-family: "PTSerifRegular", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
@mixin serif-b {
  font-family: "PTSerifBold", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
@mixin serif-i {
  font-family: "PTSerifItalic", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin sans {
  font-family: "PTSansRegular", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
@mixin sans-i {
  font-family: "PTSansItalic", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin sans-b {
  font-family: "PTSansBold", Helvetica, Arial, sans-serif;
  font-weight: normal;
}


@mixin tablet {
  @include r(799) {
    @content
  }
}

@mixin mobile {
  @include r(599) {
    @content
  }
}


html {
  font-size: 62.5%;
}


body {
  min-width: 320px;
  font-family: Helvetica, Arial, sans-serif;
  @include fs(18);
  line-height: 1.2;
  color: $text;
}