@font-face {
  font-family: 'icons';
  src:url('../fonts/icons.eot?-pts3q7');
  src:url('../fonts/icons.eot?#iefix-pts3q7') format('embedded-opentype'),
    url('../fonts/icons.woff?-pts3q7') format('woff'),
    url('../fonts/icons.ttf?-pts3q7') format('truetype'),
    url('../fonts/icons.svg?-pts3q7#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon
}

.icon-cloud:before {
  content: "\e606";
}

.icon-diamond:before {
  content: "\e607";
}

.icon-quote-down:before {
  content: "\e600";
}

.icon-quote-up:before {
  content: "\e605";
}

.icon-collaboration:before {
  content: "\e601";
}

.icon-collect:before {
  content: "\e602";
}

.icon-data:before {
  content: "\e603";
}

.icon-mobile:before {
  content: "\e604";
}

.icon-long-arrow-right:before {
  content: "\f178";
}