.toparea {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    height: calc(100vh - 140px);
    color: #FFF;
    background: img-url('toparea.jpg') no-repeat center center;
    background-size: cover;

    @include r(950) {
        .toparea__inner {
            padding-bottom: 105px;
        }

        .toparea__footer {
            display: block;
        }
    }

    @include tablet {
        background-image: img-url('toparea-mobile.jpg');
        height: calc(100vh - 130px);
        .toparea__inner {
            padding-top: 145px;
        }
    }

    .toparea__footer {
        .btn_sign {
            width: auto;
        }
    }
}

.toparea__inner {
    display: table-cell;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    padding: 115px 0 40px;

    .header {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
    }

    .subtitle {
        max-width: 960px;
        margin: auto;
        margin-top: 10px;
        text-align: center;
    }
}

.toparea__footer {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    text-align: center;
}


.header {
    padding: 35px 0;
    transition: background 0.1s linear;

    .btn {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
    }

    @include r(950) {
        .btn {
            display: none;
        }
    }

    @include tablet {
        padding: 25px 0;
        .header__left {
            float: none;
            margin: auto;
            text-align: center;
        }

        .header__right {
            float: none;
            margin: 15px auto 0;
            text-align: center;
        }

    }

    &.is-fixed {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        background: #FFF;
        color: $text;
        border-bottom: 1px solid $border;
    }

}

.header__inner {
    @include clr;
}

.header__left {
    float: left;
}

.header__right {
    float: right;
}

.header_solid {
    border-bottom: 1px solid $border;
}


.header-wrap {
    min-height: 113px;

    @include r(699) {
        min-height: auto;
    }
}



.logo {
    display: block;
    margin: auto;
    text-decoration: none;
    @include hide-text;
    // @include sprite(logo)
    background-image: img-url('logo-white.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include fs(42);
    @include sans-b;
    width: em(284,42);
    height: em(42,42);
}

.logo_color {
    background-image: img-url('logo-color.svg');
}

.logo_double {
    background: none;

    &:before, &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &:before {
        background-image: img-url('logo-white.svg');
    }

    &:after {
        background-image: img-url('logo-color.svg');
        display: none;
    }

    .header.is-fixed & {
        &:before {
            display: none;
        }
        &:after {
            display: block;
        }
    }
}


.menu {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;

    @include r(1000) {
        .menu__link {
            margin-right: 0;
        }
    }

    @include tablet {
        margin-left: -10px;
        margin-right: -10px;
        white-space: nowrap;
        .menu__link {
            font-size: 14px;
            padding: 0 13px;
        }
    }
}

.menu__link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    @include serif;
    @include fs(18);
    padding: 0 10px;
    margin-right: 10px;
    line-height: em(40,18);
    color: inherit;
    text-decoration: none;
    transition: all 0.1s linear;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        @include serif-b;
        text-decoration: underline;
    }

    &.is-active {
        font-weight: bold;
        @include serif-b;

        &:before {
            content: "";
            position: absolute;
            bottom: 2px;
            left: 50%;
            width: 0;
            height: 0;
            border: 2px solid;
            margin-left: -2px;
            border-radius: 50%;
        }
    }
}


.btn {
    display: inline-block;
    position: relative;
    background: none;
    box-sizing: border-box;
    height: 40px;
    min-width: 175px;
    padding: 0 15px;
    border: 1px solid;
    border-radius: 3px;
    color: inherit;
    text-align: center;
    @include sans;
    font-size: 18px;
    transition: all 0.15s linear;

    > span {
        display: inline-block;
        padding-right: em(15);
        position: relative;

        &:before {
            @extend %icon;
            content: "\f178";
            position: absolute;
            top: 50%;
            right: 0;
            // @include sprite(arr);
            @include fs(10);
            margin-top: em(-3,10);
        }
    }

    // &:hover {
        // transform: scale(1.1) translateZ(0);
    // }

    @include mobile {
        font-size: 12px;
        min-width: 140px;

        span:before {
            font-size: 8px;
        }
    }
}

a.btn {
    line-height: 40px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.btn_sign {
    width: 175px;
    &:hover {
        background: $text;
        color: #FFF;
        border-color: $text;
    }
}

.btn_blue {
    background: $blue;
    color: #FFF;
    border: 2px solid $blue;
    &:hover {
        background: none;
        color: $blue;
    }
}

.btn_orange {
    background: $orange;
    color: $text;
    border: 2px solid $orange;
    &:hover {
        background: none;
        color: $orange;
    }
}

.btn_purple {
    background: $purple;
    color: #FFF;
    border: none;
    border: 2px solid $purple;
    &:hover {
        background: none;
        color: $purple;
    }
}

.btn_dark {
    background: $text;
    color: #FFF;
    border: 2px solid $text;
    &:hover {
        background: none;
        color: $text;
    }
}

.btn_white {
    &:hover {
        color: $text;
        background: #FFF;
        border-color: #FFF;
    }
}

.btn_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn_wide {
    min-width: 270px;
    @include mobile {
        min-width: 140px;
    }
}

.btn_more {
    background: none;
    border: 3px solid #D8D8D8;
    border-radius: none;

    > span {
        padding: 0 0 0 em(15);
        &:before {
            content: "";
            right: auto;
            left: 0;
            width: 0;
            height: 0;
            font-size: inherit;
            border: solid transparent;
            border-width: em(6) 0 em(6) em(6);
            border-left-color: $text;
            margin-top: em(-6);
        }
    }

    &.is-active {
        > span:before {
            border-width: em(6) em(6) 0 em(6);
            border-color: transparent;
            border-top-color: $text;
            margin: em(-3) 0 0 em(-4.5);
        }
    }
}

.btn_form {
    display: block;
    width: 100%;
    height: 68px;
    font-size: 24px;
    background: $toparea;
    border-radius: 0;

    @include mobile {
        height: 40px;
        font-size: 12px;
    }

    // &:hover {
    //     transform: scale(1.05)
    // }
}




.toparea-small {
    position: relative;
    padding: 40px percentage(130/1224) 45px;
    background: $toparea;
    text-align: center;
    color: #FFF;
    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        @include arr(30,18,$toparea,b);
        margin-left: -15px;
    }

    .btn {
        display: none;
        margin-top: 20px;
    }

    @include r(950) {
        .btn {
            display: inline-block;
        }
    }

    @include mobile {
        padding-top: 25px;
        padding-bottom: 25px;

        &:after {
            @include arr(16,9,$toparea,b);
            margin-left: -8px;
        }
    }
}


.heading {
    display: block;
    padding: 24px;
    border: 3px solid #FFF;
    line-height: 1.2;
    @include fs(72);
    @include sans;
    color: #FFF;
    max-width: 960px;
    margin: auto;
    text-align: center;

    del {
        text-decoration: none;
        display: inline-block;
        position: relative;
        margin: 0;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            border: em(2,72) solid;
            margin-top: em(5,72);
        }
    }

    @include r(600) {
        @include fs(42);
    }

    @include mobile {
        @include fs(36);
        line-height: 1;
        padding: 0;
        border: none;
    }
}

.heading_toparea {
    padding: 24px;
    max-width: 915px;
    @include tablet {
        background: rgba(#FFF, 0.2);
        border: none;
    }
}


.title {
    display: block;
    @include sans;
    @include fs(36);
    line-height: 1.33;
    color: inherit;

    @include mobile {
        font-size: 24px;
        line-height: 1;
    }
}

.title_blue {
    color: $blue;
}

.title_orange {
    color: $orange;
}

.title_purple {
    color: $purple;
}


.subtitle {
    display: block;
    @include serif;
    @include fs(24);
    color: inherit;

    @include mobile {
        font-size: 14px;
    }
}



.user {
    display: block;
    position: relative;
    box-sizing: border-box;
    @include fs(18);
    color: #949494;
    min-height: em(80,18);
    padding-left: em(95,18);
    white-space: nowrap;

    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        min-height: em(80,18);
    }
}

.user__pic {
    display: block;
    position: absolute;
    box-sizing: border-box;
    // top: 50%;
    top: 0;
    left: 0;
    width: em(80,18);
    height: em(80,18);
    border: em(3,18) solid #949494;
    background: #949494;
    border-radius: 50%;
    overflow: hidden;

    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}

.user__feedback {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    @include serif;
    margin: 0;
    padding: 0;
    font-size: 1em;
    margin-left: em(-5,18);
    color: inherit;
}

.user__name {
    display: inline-block;
    margin-right: em(15,18);
    margin-top: em(7,18);
    @include sans-i;
}

.user__link {
    display: inline-block;
    position: relative;
    margin-top: em(7,18);
    color: inherit;
    text-decoration: none;
    @include sans;

    > a {
        display: inline-block;
        padding-right: em(15,18);
        border-bottom: 1px solid;
        position: relative;
        text-decoration: none;
        color: inherit;

        &:after {
            @extend %icon;
            content: "\f178";
            position: absolute;
            top: 50%;
            right: 0;
            // @include sprite(arr);
            @include fs(10);
            margin-top: em(-3,10);
        }
    }


    &:hover {
        @include sans-b;
        // border-bottom: 1px solid;
    }

}

.user_replace {
    padding-left: 0;
    padding-right: em(95);
    text-align: right;

    .user__pic {
        left: auto;
        right: 0;
    }

    .user__name {
        margin-right: 0;
    }

    .user__link {
        margin-left: em(15,18);
    }
}

.user_big {
    color: $text;
    @include fs(24);
    min-height: em(174,24);
    padding-left: em(204,24);

    &:before {
        min-height: em(174,24);
    }

    .user__pic {
        width: em(174,24);
        height: em(174,24);
        border: em(7,24) solid #949494;
    }

    .user__feedback {
        position: relative;
        padding-left: em(45,24);
        @include sans;
        &:before {
            @extend %icon;
            position: absolute;
            top: em(10,24);
            left: 0;
            content: "\e605";
            font-size: em(17,24);
        }
    }

    &.user_replace {
        padding-left: 0;
        padding-right: em(204,24);

        .user__feedback {
            padding-left: 0;
            padding-right: em(45,24);
            &:before {
                left: auto;
                right: 0;
                content: "\e600";
            }
        }
    }

    @include tablet {
        .user__feedback {
            padding-left: 0;
            &:before {
                position: relative;
                float: left;
                margin: 0 5px 0 0;
            }
        }

        &.user_replace {
            .user__feedback {
                text-align: left;
                padding-right: 0;
                &:before {
                    content: "\e605";
                }
            }
        }
    }

    @include mobile {
        @include fs(12);
        padding-left: em(150,12);
        &:before {
            min-height: em(138,12);
        }

        .user__pic {
            width: em(138,12);
            height: em(138,12);
        }

        .user__feedback {

        }

        &.user_replace {
            padding-left: 0;
            padding-right: em(150,12);
        }
    }
}

.user_small {
    @include tablet {
        padding-left: em(75,18);
        margin-height: em(75,18);
        .user__pic {
            width: em(65,18);
            height: em(65,18);
        }

        .user__name {
            margin-top: 10px;
        }

        .user__link {
            display: block;
            margin-top: 7px;
        }

        &.user_replase {

        }
    }
}



.feature {
    padding: 60px 0;
    @include fs(18);
    line-height: 1.25;
    @include serif;
    overflow: hidden;

    .title {
        margin-bottom: em(13,36);
    }

    .btn {
        display: block;
        margin-top: 20px;
    }

    .user {
        margin-top: 50px;
        max-width: 520px;
    }

    @include tablet {

        .feature__outer {
            padding-left: 0;
            padding-right: 0;
            &:before {
                display: none;
            }
        }

        .feature__inner {
            display: block;
        }

        .feature__pic {
            position: relative;
            width: 100%;
            padding: 18px 0;
            top: 0;
            right: 0;
            transform: none;
            background-position: center center;
            margin: auto;
            &:before {
                position: relative;
                z-index: 1;
            }
            &.capture {
                max-width: (500/2)+px;
                &:before {
                    padding-bottom: percentage(340/500);
                    background-image: img-url('capture-small.png');
                }
            }
            &.find {
                max-width: (582/2)+px;
                &:before {
                    padding-bottom: percentage(488/582);
                    background-image: img-url('find-small.png');
                }
            }
        }

        .feature__slider {
            position: static;
            width: auto;
            transform: none;
            margin: 25px -15px;
        }

        .btn {
            margin-left: auto;
            margin-right: auto;
        }

        .user {
            max-width: none;
            color: $text;
        }

        .user__link {
            display: block;
        }

    }

    @include mobile {
        padding: 15px 0 30px;

        .feature__text {
            font-size: 14px;
            // line-height: 1.13;
        }

        .user {
            margin-top: 40px;
        }

        .user__name, .user__link {
            font-size: 14px;
        }
    }
}

.feature__outer {
    position: relative;
    padding-right: percentage(480/1124);
    font-size: 0;

    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        min-height: 470px;
    }
}

.feature__inner {
    display: inline-block;
    vertical-align: middle;
    @include fs(18);
    @include clr;
}

.feature__pic {
    position: absolute;
    top: 50%;
    right: -50px;
    width: percentage(480/1124);
    transform: translateY(-50%);

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: percentage(470/480);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
    }

    &.capture:before {
        background-image: img-url('capture.png');
    }

    &.find:before {
        background-image: img-url('find.png');
    }
}

.feature__slider {
    position: absolute;
    top: 50%;
    right: -50px;
    width: percentage(415/1124);
    // height: 400px;
    // margin-top: -200px;
    transform: translateY(-50%);
    overflow: hidden;
}

.feature_replace {
    background: $text;
    color: #FFF;

    .btn {
        margin-top: 30px;
    }

    .feature__outer {
        padding-left: percentage(480/1124);
        padding-right: 0;
    }

    .feature__pic {
        right: auto;
        left: -50px;
        &:before {
            background-position: left center;
        }
    }

    .user {
        float: right;
    }

    @include tablet {
        padding-top: 38px;

        .feature__outer {
            padding-left: 0;
        }

        .feature__pic {
            left: 0;
            padding: 28px 0;
            &:before {
                background-position: center center;
            }
        }

        .user {
            float: none;
            // padding-left: em(95,18);
            padding-right: 0;
            text-align: left;
        }

        .user__pic {
            right: auto;
            left: 0;
        }

        .user__name {
            margin-right: em(15,18);
        }

        .user__link {
            margin-left: 0;
        }
    }
}

.feature_bgmod {
    @include tablet {

        .feature__pic {
            &:after {
                content: "";
                position: absolute;
                z-index: 0;
                bottom: 0;
                left: -1000px;
                right: -1000px;
                height: 50%;
                background: #C5C5C5;
            }
        }

        .user {
            margin: 0 -15px -60px;
            background: #C5C5C5;
            border: solid #C5C5C5;
            border-width: 0 15px 60px 15px;
        }
    }

    @include mobile {
        .user {
            margin: 0 -15px -30px;
            background: #C5C5C5;
            border: solid #C5C5C5;
            border-width: 0 15px 30px 15px;
        }
    }
}

.feature_mod {
    padding: 83px 0;
    @include tablet {
        padding-top: 35px;
    }

    .title {
        margin-bottom: 17px;
    }
}



.feature-more {
    padding: 44px 0 50px;
    background: #E9E9E9;

    .title {
        margin-bottom: 48px;
        text-align: center;
    }

    .figure {
        margin-bottom: 20px;
    }

    .btn {
        margin-top: 47px;
    }

    .btn_more {
        display: none;
    }

    @include r(850) {
        .feature-more__item {
            width: 50%;
        }
    }

    @include mobile {
        padding: 25px 0;
        @include fs(14);

        .title {
            margin-bottom: 24px;
        }

        .btn {
            margin-top: 15px;
        }

        .feature-more__item {
            font-size: 12px;
        }

        .btn_more {
            display: block;
        }

        .feature-more__other {
            display: none;
            margin-top: 0;
            padding-bottom: 20px;
            text-align: center;
            // border-bottom: 3px solid rgba($text, 0.4);
            ul {
                width: auto;
                float: none;
                padding: 0;
            }
        }
    }
}

.feature-more__items {
    font-size: 0;
    margin: -25px -10px 0;
    // @include clr;
}

.feature-more__item {
    display: inline-block;
    vertical-align: top;
    // float: left;
    margin-top: 25px;
    width: 25%;
    box-sizing: border-box;
    padding: 0 10px;
    @include fs(18);
    @include serif;

    // &:last-child {
    //     float: right;
    // }

    // &:nth-child(3) {
    //     float: right;
    // }
}

.feature-more__other {
    margin: 32px auto 0;
    padding: 30px 20px 0;
    max-width: 930px;
    box-sizing: border-box;
    border-top: 3px solid rgba($text, 0.4);
    @include clr;
    line-height: 1.55;

    ul {
        float: left;
        width: 33.333%;
        box-sizing: border-box;
        padding: 0 em(20);
    }

    @include tablet {
        display: none;
        border-top: none;
    }

    @include rmin(768) {
        display: block !important;
    }
}




.slider {
    width: 100%;
}

.slide {
    position: relative;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include mobile {
        height: 200px;

        .slide__caption {
            @include fs(15);
        }

        .slide__footer {
            padding-bottom: 18px;
        }
    }
}

.slide__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    height: percentage(140/400);
    padding-bottom: 35px;
    background: #FFF;
    background: rgba(#FFF, 0.8);
    @include vertical;
}

.slide__caption {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    text-decoration: none;
    @include serif-i;
    @include fs(30);

    &:hover {
        text-decoration: underline;
    }
}



.figure {

    .icon {
        display: block;
        margin: auto;
        text-align: center;
        @include fs(100);
        margin-bottom: em(40,100);
    }

    @include mobile {
        .icon {
            font-size: 50px;
        }

        .figure__text {
            font-size: 14px;
        }
    }

}

.figure__text {
    display: block;
    @include fs(24);
    @include sans;
    text-align: center;
}


.text {
    @include fs(18);
    @include serif;
}




.brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 200px;
    text-align: center;

    @include tablet {
        min-height: 115px;
        padding: 10px 0;
    }
}

.brands__item {
    display: inline-block;
    vertical-align: middle;
    display: flex;
    padding: 25px;
    a {
        display: inline-block;
        font-size: 0;
    }

    img {
        display: block;
        max-width: 100%;
    }

    @include tablet {
        &:nth-child(1) {
            order: 1;
        }
        &:nth-child(2) {
            order: 2;
        }
        &:nth-child(3) {
            order: 4;
        }
        &:nth-child(4) {
            order: 5;
        }
        &:nth-child(5) {
            order: 3;
        }
    }

    @include mobile {
        padding: 10px;

        img {
            width: 50%;
            margin: auto;
        }
    }
}

.brands_about {
    max-width: 900px;
    margin: 10px auto 0;

    @include tablet {
        justify-content: stretch;
        margin-top: 40px;

        .brands__item {
            &:first-child {
                order: 2;
            }
            &:nth-child(2) {
                order: 1;
            }
            &:nth-child(3) {
                order: 4;
            }
            &:nth-child(4) {
                order: 5;
            }
            &:nth-child(5) {
                order: 3;
            }
            &:nth-child(6) {
                order: 6;
            }
        }
    }


}




.footer {
    padding: 50px 0;
    background: $text;
    color: #FFF;

    .logo {
        display: inline-block;
        vertical-align: middle;
    }

    @include r(1000) {
        .btn {
            min-width: 140px;
        }
    }

    @include r(875) {
        .footer__left {
            float: none;
            text-align: center;
            margin-top: 15px;
        }

        .footer__right {
            float: none;
            text-align: center;
        }

        .footer__row {
            margin-top: 0;
        }

        .logo {
            margin-top: 15px;
        }
    }

    @include mobile {
        padding: 20px 0 30px;
        font-size: 14px;

        .footer__row {
            line-height: 2;
            max-width: 235px;
            margin: auto;
            overflow: hidden;
        }

        .footer__links {
            li {
                font-size: 14px;
                padding: 0 10px;
                &:before {
                    border-width: 2px;
                    margin: -1px 0 0 -2px;
                }
            }
        }

        .footer__copy {
            font-size: 12px;
        }

        .logo {
            font-size: 31px;
        }
    }
}

.footer__row {
    @include clr;
    line-height: 40px;
    margin-top: 80px;

    &:first-child {
        margin-top: 0;
    }
}

.footer__left {
    float: left;
}

.footer__right {
    float: right;
}

.footer__links {
    display: inline-block;
    vertical-align: middle;
    margin: 0 -10px;
    font-size: 0;
    @include serif;
    overflow: hidden;

    li {
        display: inline-block;
        position: relative;
        vertical-align: top;
        padding: 0 12px;
        @include fs(18);

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 0;
            height: 0;
            border: 3px solid;
            border-radius: 50%;
            margin: -2px 0 0 -3px;
        }

        &:first-child {
            // margin-left: -10px;
            &:before {
                display: none;
            }
        }

        // &:last-child {
        //     margin-right: -10px;
        // }
    }

    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            // @include serif-b;
        }
    }
}

.footer__copy {
    @include fs(14);
    color: #868686;

    > a {
        display: inline-block;
        margin-right: em(15);
        color: inherit;
        transition: all 0.15s linear;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            @include sans-b;
        }
    }

    > span, > a {
        display: inline-block;
        vertical-align: bottom;
        line-height: 1.2;
    }
}


.separator {
    margin: 15px auto;
    border: none;
    max-width: 175px;
    height: 3px;
    background: #D8D8D8;

    @include mobile {
        height: 2px;
    }
}

.comments {
    margin-top: 65px;
    margin-bottom: 10px;

    @include mobile {
        margin-top: 35px;
    }
}




.pricing {
    max-width: 615px;
    margin: 30px auto 45px;
    box-sizing: border-box;

    b, strong {
        @include sans-b
    }

    @include mobile {
        margin: 0 -15px 15px;
        .pricing__footer {
            font-size: 12px;

            > big {
                font-size: 14px;
            }
        }
    }

    @include r(449) {
        margin: 15px 0;

        .pricing__main {
            display: block;
            width: auto;
        }

        .pricing__cell {
            display: block;
            width: auto;
            margin-bottom: 15px;
        }

        .pricing__footer {
            margin: 0;
            padding: 0 15px;
            border: none;
        }

        .pricing__btn {
            position: static;
            margin-bottom: 15px;
        }
    }
}

.pricing__main {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 15px;
    width: 100%;
}

.pricing__cell {
    display: table-cell;
    vertical-align: top;
    background: #F0F0F0;
}

.pricing__footer {
    position: relative;
    padding: 15px 15px 78px;
    margin: 0 15px;
    text-align: center;
    border: 3px solid #D9D9D9;

    > big {
        @include fs(22);
        display: block;
        margin-bottom: 5px;
    }
}

.pricing__btn {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}



.price {
    @include fs(18);
    height: 100%;
    color: #686868;
    background: #F0F0F0;
    text-align: center;

    b, strong {
        @include sans-b;
    }

    .icon_circle {
        margin: -47px auto;
        border: 7px solid #F0F0F0;
    }

    @include mobile {
        font-size: 14px;
    }

    @include r(449) {
        background: #252525;

        .price__head {
            padding-bottom: 15px;
        }

        .icon_circle {
            display: none;
        }

        .price__list {
            padding: 0 percentage(60/290) 36px;
            color: #FFF;
            text-align: left;

            li {
                margin-top: 5px;
                padding-top: 0;
                &:before {
                    display: none;
                }

                &:first-child {
                    padding-top: 17px;

                    &:before {
                        display: block;
                        background: #7C7C7C;
                    }
                }
            }
        }

        &.price_free {
            background: #424242;

            .price__value {
                > small {
                    display: block;
                    position: static;
                }
            }
        }
    }
}

.price__head {
    padding: 40px 10px 80px;
    background: #252525;
    color: #FFF;
    line-height: 1;
}

.price__label {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: em(2,18);
}

.price__value {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 72px;
    line-height: 1;
    @include sans-b;

    > small {
        position: absolute;
        bottom: 20%;
        left: 100%;
        font-size: em(12,72);
        text-transform: uppercase;
    }
}

.price__list {
    padding: 90px 30px 50px;
    li {
        position: relative;
        margin-top: 15px;
        padding-top: 15px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 110px;
            height: 1px;
            background: #C3C3C3;
            margin: auto;
        }

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            &:before {
                display: none;
            }
        }
    }
}


.price_free {
    .price__head {
        background: #424242;
    }

    .price__value {
        > small {
            top: 100%;
            left: 0;
            right: 0;
            text-align: center;
        }
    }
}



.field {
    margin-top: 25px;
    text-align: left;

    &:first-child {
        margin-top: 0;
    }

    .popup__link {
        float: right;
    }

    @include mobile {
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }

        .field__label {
            font-size: 14px;
            margin-bottom: 5px;
        }

        .field__input {
            padding: 10px 8px;
            font-size: 12px;
        }
    }
}

.field__label {
    display: block;
    margin-bottom: 15px;
    @include serif;

    b, strong {
        @include serif-b;
    }
}

.field__input {
    display: block;
    width: 100%;
    padding: 17px 25px;
    color: $text;
    border: 2px solid;
    box-sizing: border-box;
    font-family: "PT Mono";
    font-weight: normal;
    @include fs(24);
    line-height: normal;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0;

    @include placeholder {
        font-size: 1em;
        font-family: "PT Mono";
        font-weight: normal;
        color: rgba($text, 0.3);
    }
}



.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background: black;
    background: rgba(black, 0.5);
    @include vertical;
    white-space: nowrap;
    cursor: pointer;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .btn_form {
        margin: 45px 0  25px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include mobile {
        .popup__header {
            padding: 10px;
            font-size: 18px;
        }

        .popup__close {
            top: 14px;
            right: 14px;
            font-size: 14px;
        }

        .popup__main {
            padding: 25px 15px 20px;
        }

        .popup__inner {
            font-size: 12px;
        }

        .popup__link {
            font-size: 10px;
            line-height: 1.8;
        }

        .btn_form {
            margin: 20px 0 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.popup__inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    max-width: 750px;
    background: #FFF;
    white-space: normal;
    cursor: default;
    @include fs(18)
}

.popup__close {
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 30px;
    background: none;
    @include fs(22);
    color: #FFF;
    transition: transform 0.15s linear;
    &:hover {
        transform: rotate(90deg);
    }
}

.popup__header {
    position: relative;
    z-index: 1;
    padding: 29px;
    background: $toparea;
    color: #FFF;
    @include fs(36);
    line-height: 1.333;
    text-align: center;

    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        @include arr(30,18,$toparea,b);
        margin-left: -15px;
    }

    @include mobile {
        &:after {
            @include arr(16,9,$toparea,b);
            margin-left: -8px;
        }
    }
}

.popup__main {
    text-align: center;
    padding: 45px percentage(95/750) 50px;
}

.popup__link {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}




.badge {
    position: relative;
    z-index: 0;
    padding: 13px 15px 13px 110px;
    background: #EBEBEB;
    font-size: 14px;
    text-align: left;
    font-size: 0;
    white-space: nowrap;
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        min-height: 80px;
        height: 100%;
        width: 0;
    }

    big {
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 15px;
        margin-top: -40px;
    }

    // .icon-diamond {
    //     font-size: 46px;
    // }

    @include mobile {
        .badge__text {
            font-size: 12px;
        }

        big {
            font-size: 14px;
            margin-bottom: 5px;
        }

        .icon_circle {
            width: 40px;
            height: 40px;
            line-height: 40px;
        }

    }
}

.badge__text {
    display: inline-block;
    vertical-align: middle;
    @include fs(14);
    white-space: normal;
}

.badge_form {
    @include mobile {
        margin: 0 -15px;
        padding: 20px 30px 15px;
        text-align: center;
        &:before {
            display: none;
        }

        .popup__main & {
            margin-top: -25px;
        }

        .icon {
            position: static;
            margin: auto;
            margin-bottom: 10px;
        }

        .badge__text {
            display: block;
        }
    }

}

.form {
    .badge_error {
        display: none;
    }

    .badge_success {
        display: none;
    }

    &.is-error {
        .badge {
            display: none;
        }
        .badge_error {
            display: block;
        }
    }

    &.is-success {
        .badge {
            display: none;
        }
        .badge_success {
            display: block;
        }
        .field {
            display: none;
        }
    }
}