$icons: (
  arr: (X: -116px, Y:-51px, W: 10px, H: 5px, TW: 270px, TH: 56px, IMG: '../img/icons.png'),
  codedby: (X: -59px, Y:-51px, W: 47px, H: 5px, TW: 270px, TH: 56px, IMG: '../img/icons.png'),
  coderiver: (X: 0px, Y:-51px, W: 49px, H: 5px, TW: 270px, TH: 56px, IMG: '../img/icons.png'),
  logo: (X: 0px, Y:0px, W: 270px, H: 41px, TW: 270px, TH: 56px, IMG: '../img/icons.png'),
);


// Gets an attribute from the sass map
@function icon-attr($icon, $attr) {
  $icon: map-get($icons, $icon);
  @return map-get($icon, $attr);
}

@mixin sprite($iconName) {
  background-image: url(icon-attr($iconName, IMG));
  width: icon-attr($iconName, W);
  height: icon-attr($iconName, H);
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}



.icon-arr {
  width: ceil(10px);
  height: ceil(5px);
  background-image: url('../img/icons.png');
  background-position: ceil(-116px) ceil(-51px);
}

.icon-codedby {
  width: ceil(47px);
  height: ceil(5px);
  background-image: url('../img/icons.png');
  background-position: ceil(-59px) ceil(-51px);
}

.icon-coderiver {
  width: ceil(49px);
  height: ceil(5px);
  background-image: url('../img/icons.png');
  background-position: ceil(0px) ceil(-51px);
}

.icon-logo {
  width: ceil(270px);
  height: ceil(41px);
  background-image: url('../img/icons.png');
  background-position: ceil(0px) ceil(0px);
}

