$icon-bulb: "\e60c";
$icon-cube: "\e60d";
$icon-search: "\e60e";
$icon-mail: "\e60a";
$icon-question: "\e60b";
$icon-alert: "\e609";
$icon-close: "\e608";
$icon-cloud: "\e606";
$icon-diamond: "\e607";
$icon-quote-down: "\e600";
$icon-quote-up: "\e605";
$icon-collaboration: "\e601";
$icon-collect: "\e602";
$icon-data: "\e603";
$icon-mobile: "\e604";
$icon-long-arrow-right: "\f178";
