@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Slider */
.slick-loading .slick-list { background: #fff url("../img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face { font-family: "slick"; src: url("../fonts/slick.eot"); src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0px; font-size: 0px; cursor: pointer; background: transparent; color: transparent; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -25px; }
[dir="rtl"] .slick-prev { left: auto; right: -25px; }
.slick-prev:before { content: "←"; }
[dir="rtl"] .slick-prev:before { content: "→"; }

.slick-next { right: -25px; }
[dir="rtl"] .slick-next { left: -25px; right: auto; }
.slick-next:before { content: "→"; }
[dir="rtl"] .slick-next:before { content: "←"; }

/* Dots */
.slick-dots { position: absolute; bottom: 22px; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; cursor: pointer; }
.slick-dots li button { display: block; padding: 3px; background: none; outline: none; line-height: 0px; font-size: 0px; color: red; cursor: pointer; }
.slick-dots li button:before { content: ""; display: block; height: 10px; width: 10px; box-sizing: border-box; border-radius: 50%; background: #979795; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.slick-dots li button:hover:before { background: #4E4E4E; }
.slick-dots li.slick-active button:before { background: #4E4E4E; }

.ie8 .icon-arr { width: 10px; height: 5px; background-image: url("../img/icons.png"); background-position: -116px -51px; }
.ie8 .icon-codedby { width: 47px; height: 5px; background-image: url("../img/icons.png"); background-position: -59px -51px; }
.ie8 .icon-coderiver { width: 49px; height: 5px; background-image: url("../img/icons.png"); background-position: 0px -51px; }
.ie8 .icon-logo { width: 270px; height: 41px; background-image: url("../img/icons.png"); background-position: 0px 0px; }

@font-face { font-family: 'icons'; src: url("../fonts/icons.eot?-pts3q7"); src: url("../fonts/icons.eot?#iefix-pts3q7") format("embedded-opentype"), url("../fonts/icons.woff?-pts3q7") format("woff"), url("../fonts/icons.ttf?-pts3q7") format("truetype"), url("../fonts/icons.svg?-pts3q7#icons") format("svg"); font-weight: normal; font-style: normal; }
.icon, .btn span:after, .user__link:after { font-family: 'icons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-quote:before { content: "\e600"; }

.icon-long-arrow-right:before { content: "\f178"; }

.icon-collaboration:before { content: "\e601"; }

.icon-collect:before { content: "\e602"; }

.icon-data:before { content: "\e603"; }

.icon-mobile:before { content: "\e604"; }

@font-face { font-family: "PTSerifRegular"; src: url("../fonts/PTF55F-webfont.eot"); src: url("../fonts/PTF55F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTF55F-webfont.woff") format("woff"), url("../fonts/PTF55F-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "PTSerifBold"; src: url("../fonts/PTF75F-webfont.eot"); src: url("../fonts/PTF75F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTF75F-webfont.woff") format("woff"), url("../fonts/PTF75F-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "PTSerifItalic"; src: url("../fonts/PTF56F-webfont.eot"); src: url("../fonts/PTF56F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTF56F-webfont.woff") format("woff"), url("../fonts/PTF56F-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "PTSansRegular"; src: url("../fonts/PTS55F-webfont.eot"); src: url("../fonts/PTS55F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS55F-webfont.woff") format("woff"), url("../fonts/PTS55F-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "PTSansItalic"; src: url("../fonts/PTS56F-webfont.eot"); src: url("../fonts/PTS56F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS56F-webfont.woff") format("woff"), url("../fonts/PTS56F-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
html { font-size: 62.5%; }

body { min-width: 320px; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-size: 1.6rem; line-height: 1.2; color: #4E4E4E; }

.l { max-width: 1124px; padding: 0 50px; margin: auto; }

.column { box-sizing: border-box; padding: 0 10px; }

.l-columns { margin-left: -10px; margin-right: -10px; *zoom: 1; }
.l-columns:after { content: " "; display: table; clear: both; }
.l-columns .column { float: left; width: 50%; }

.l-columns_four .column { width: 25%; }

.toparea { display: table; table-layout: fixed; border-collapse: collapse; width: 100%; min-height: 100vh; color: #FFF; background: url("../img/toparea.jpg") no-repeat center center; background-size: cover; }

.toparea__inner { display: table-cell; position: relative; width: 100%; height: 100%; vertical-align: middle; padding: 115px 0 40px; }
.toparea__inner .header { position: absolute; top: 0; left: 0; right: 0; }
.toparea__inner .subtitle { max-width: 960px; margin: auto; margin-top: 10px; text-align: center; }

.header { padding: 35px 0; }
.header .btn { display: inline-block; vertical-align: middle; }

.header__inner { *zoom: 1; }
.header__inner:after { content: " "; display: table; clear: both; }

.header__left { float: left; }

.header__right { float: right; }

.header_mod { border-bottom: 1px solid #AAA9A9; }

.logo { display: block; text-decoration: none; font: 0/0 a; text-shadow: none; color: transparent; background-image: url("../img/icons.png"); width: 270px; height: 41px; background-position: 0px 0px; }

.menu { font-size: 0; display: inline-block; vertical-align: middle; margin-right: 15px; }

.menu__link { display: inline-block; vertical-align: middle; position: relative; font-family: "PTSerifRegular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; font-size: 1.8rem; padding: 0 0.55556em; margin-right: 0.55556em; line-height: 2.22222em; color: inherit; text-decoration: none; }
.menu__link:last-child { margin-right: 0; }
.menu__link.is-active { font-weight: bold; font-family: "PTSerifBold", Helvetica, Arial, sans-serif; font-weight: normal; }
.menu__link.is-active:before { content: ""; position: absolute; bottom: 2px; left: 50%; width: 4px; height: 4px; margin-left: -2px; background: #FFF; border-radius: 50%; }

.btn { display: inline-block; position: relative; background: none; box-sizing: border-box; height: 40px; min-width: 175px; padding: 0 15px; border: 1px solid; border-radius: 3px; color: inherit; text-align: center; font-family: "PTSansRegular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; }
.btn span { display: inline-block; padding-right: 15px; position: relative; }
.btn span:after { content: "\f178"; position: absolute; top: 50%; right: 0; font-size: 10px; font-size: 1rem; margin-top: -0.3em; }

a.btn { line-height: 40px; text-decoration: none; }
a.btn:hover { text-decoration: none; }

.btn_sign { width: 175px; }

.btn_blue { background: #4990E1; color: #FFF; border: none; }

.btn_orange { background: #F8A823; color: #4E4E4E; border: none; }

.btn_purple { background: #7746A1; color: #FFF; border: none; }

.toparea-small { position: relative; padding: 40px 10.62092% 45px; background: #4C565A; text-align: center; }
.toparea-small:after { content: ""; position: absolute; top: 100%; left: 50%; width: 0px; height: 0px; border-style: solid; border-width: 18px 15px 0 15px; border-color: #4C565A transparent transparent transparent; }

.heading { display: block; padding: 24px; border: 3px solid #FFF; font-size: 72px; font-size: 7.2rem; font-family: "PTSansRegular", Helvetica, Arial, sans-serif; font-weight: normal; color: #FFF; max-width: 960px; margin: auto; text-align: center; }
.heading del { text-decoration: none; display: inline-block; position: relative; margin: 0; }
.heading del:before { content: ""; position: absolute; top: 50%; left: 0; right: 0; border: 0.02778em solid; margin-top: 0.06944em; }

.title { display: block; font-family: "PTSansRegular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 36px; font-size: 3.6rem; line-height: 1.33; color: inherit; }

.title_blue { color: #4990E1; }

.title_orange { color: #F8A823; }

.title_purple { color: #7746A1; }

.subtitle { display: block; font-family: "PTSerifRegular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 24px; font-size: 2.4rem; color: inherit; }

.user { display: block; position: relative; box-sizing: border-box; font-size: 18px; font-size: 1.8rem; min-height: 4.44444em; padding-left: 5.27778em; white-space: nowrap; }
.user:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; min-height: 4.44444em; }

.user__pic { display: block; position: absolute; box-sizing: border-box; top: 50%; left: 0; width: 4.44444em; height: 4.44444em; border: 0.16667em solid #949494; border-radius: 50%; margin-top: -2.22222em; overflow: hidden; }
.user__pic img { display: block; max-width: 100%; max-height: 100%; }

.user__feedback { display: inline-block; vertical-align: middle; white-space: normal; font-family: "PTSerifRegular", Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0; font-size: 1em; margin-left: -0.27778em; color: #949494; }

.user__feedback-text { margin-bottom: 0.38889em; }

.user__name { display: inline-block; margin-right: 0.83333em; font-family: "PTSansItalic", Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; }

.user__link { display: inline-block; position: relative; padding-right: 0.83333em; color: inherit; text-decoration: none; border-bottom: 1px solid; font-family: "PTSansRegular", Helvetica, Arial, sans-serif; font-weight: normal; }
.user__link:after { content: "\f178"; position: absolute; top: 50%; right: 0; font-size: 10px; font-size: 1rem; margin-top: -0.3em; }

.user_replace { padding-left: 0; padding-right: 5.9375em; text-align: right; }
.user_replace .user__pic { left: auto; right: 0; }
.user_replace .user__name { margin-right: 0; }
.user_replace .user__link { margin-left: 0.83333em; }

.feature { padding: 60px 0; font-size: 18px; font-size: 1.8rem; line-height: 1.2; font-family: "PTSerifRegular", Helvetica, Arial, sans-serif; font-weight: normal; }
.feature .title { margin-bottom: 0.27778em; }
.feature .btn { display: block; margin-top: 22px; }
.feature .user { margin-top: 50px; max-width: 520px; }
@media only screen and (max-width: 799px) { .feature .feature__outer { padding-left: 0; padding-right: 0; }
  .feature .feature__outer:before { display: none; }
  .feature .feature__inner { display: block; }
  .feature .feature__pic { position: static; top: 0; right: 0; -webkit-transform: none; -ms-transform: none; transform: none; background-position: center center; margin: auto; }
  .feature .feature__pic.capture { background-image: url("../img/capture-small.png"); }
  .feature .feature__pic.find { background-image: url("../img/find-small.png"); } }

.feature__outer { position: relative; padding-right: 42.70463%; font-size: 0; }
.feature__outer:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; min-height: 470px; }

.feature__inner { display: inline-block; vertical-align: middle; font-size: 18px; font-size: 1.8rem; *zoom: 1; }
.feature__inner:after { content: " "; display: table; clear: both; }

.feature__pic { position: absolute; top: 50%; right: -50px; width: 42.70463%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background-repeat: no-repeat; background-position: right center; background-size: contain; }
.feature__pic:before { content: ""; display: block; width: 100%; padding-bottom: 97.91667%; }
.feature__pic.capture { background-image: url("../img/capture.png"); }
.feature__pic.find { background-image: url("../img/find.png"); }

.feature__slider { position: absolute; top: 50%; right: -50px; width: 36.92171%; height: 405px; margin-top: -202px; overflow: hidden; }

.feture_replace { background: #4E4E4E; color: #FFF; }
.feture_replace .feature__outer { padding-left: 42.70463%; padding-right: 0; }
.feture_replace .feature__pic { right: auto; left: -50px; background-position: left center; }
.feture_replace .user { float: right; }
@media only screen and (max-width: 799px) { .feture_replace .feature__outer { padding-left: 0; } }

.feature-more { padding: 50px 0; background: #E9E9E9; }
.feature-more .title { margin-bottom: 25px; text-align: center; }
.feature-more .figure { margin-bottom: 10px; }

.slider { width: 100%; }

.slide { position: relative; width: 100%; height: 405px; background-repeat: no-repeat; background-position: center center; background-size: cover; }

.slide__footer { position: absolute; left: 0; right: 0; bottom: 0; box-sizing: border-box; height: 34.5679%; padding-bottom: 8.64198%; background: #FFF; background: rgba(255, 255, 255, 0.8); text-align: center; font-size: 0; }
.slide__footer:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }

.slide__caption { display: inline-block; vertical-align: middle; font-family: "PTSerifItalic", Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 30px; font-size: 3rem; }

.figure .icon { display: block; margin: auto; text-align: center; font-size: 100px; font-size: 10rem; min-height: 100px; }

.figure__text { display: block; font-size: 24px; font-size: 2.4rem; font-family: "PTSansRegular", Helvetica, Arial, sans-serif; font-weight: normal; text-align: center; margin-top: 40px; }

.text { font-size: 18px; font-size: 1.8rem; font-family: "PTSerifRegular", Helvetica, Arial, sans-serif; font-weight: normal; }



/*# sourceMappingURL=screen.css.map */