<!-- begin footer -->
footer.footer
  .l
    .footer__row
      .footer__right
        button.btn.btn_wide(type="button", data-popup="sign-up")
          span Sign up for free
      .footer__left
        ul.footer__links
          li
            a(href="/")
              | Features
          li
            a(href="/pricing.html")
              | Pricing
          li
            a(href="/about.html")
              | About Us
          li
            a(href="#")
              | Press
          li
            a(href="#")
              | Blog
          li
            a(href="#")
              | Template
          li
            a(href="#")
              | Library


    .footer__row
      .footer__right
        .footer__copy
          a(href="#")
            | Terms of Service
          a(href="#")
            | Privacy Policy
          span
            | ©2015 KustomNote, Inc.
      .footer__left
        .footer__logo
          a(href="/").logo
            | Kustomnote
<!-- end footer -->