//BEGIN header
header.header
  .header__inner.l
    .header__left
      a(href="/").logo.logo_double
        span Transpose
    .header__right
      nav.menu
        a(href="/", data-text="Features").menu__link
          span Features
        a(href="/pricing.html", data-text="Pricing").menu__link
          span Pricing
        a(href="/about.html", data-text="About Us").menu__link
          span About Us
        a(href="login", data-popup="login", data-text="Login").menu__link
          span Login
      button.btn.btn_sign(type="button", data-popup="sign-up")
        span Sign up for free
//END header