<!-- begin header -->
.header-wrap
  header.header.header_solid
    .header__inner.l
      .header__left
        a(href="/").logo.logo_color
          | Kustomnote
      .header__right
        nav.menu
          a(href="/").menu__link
            | Features
          a(href="/pricing.html").menu__link
            | Pricing
          a(href="/about.html").menu__link
            | About Us
          a(href="login", data-popup="login").menu__link
            | Login
        button.btn.btn_sign(type="button", data-popup="sign-up")
          span Sign up for free
<!-- end header -->