<!-- begin header -->
header.header
  a(href="/").logo
    | KustomNote
  nav.menu
    a(href="#").menu__link
      | Features
    a(href="#").menu__link
      | Pricing
    a(href="#").menu__link
      | About Us
    a(href="#").menu__link
      | Login
  button.btn.btn_sign(type="button")
    | Sign up for free →
<!-- end header -->