<!-- begin header -->
header.header
  .header__inner.l
    .header__left
      a(href="/").logo
        | Kustomnote
    .header__right
      nav.menu
        a(href="#").menu__link
          | Features
        a(href="#").menu__link.is-active
          | Pricing
        a(href="#").menu__link
          | About Us
        a(href="#").menu__link
          | Login
      button.btn.btn_sign(type="button")
        span Sign up for free
<!-- end header -->