doctype html
html
  head
    meta(charset="utf-8")
    block title
      title Template
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="format-detection" content="telephone=no")
    link(rel="icon" href="/favicon.png" type="image/png")
    link(rel="stylesheet" media="all" href="css/screen.css")
    <!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
  body


    .out
      block content

    block popup
      include _login-popup
      include _sign-popup
      include _reset-popup



    <!-- load scripts -->
    script(src="js/lib/head.js" data-headjs-load="js/init.js")

    <!-- remove on production -->
    script
      |(function(){
      |    var currentPathName = window.location.pathname;
      |    var link = document.querySelector('.menu__link[href="' + currentPathName + '"]');
      |    link.classList.add('is-active');
      |})();
