extends _layout

block title
  title Main Page

block content
  <!-- begin toparea -->
  .toparea
    .toparea__inner
      include _header

      .l
        h1.heading
          | Don’t settle for <del>chaotic</del> notes.
        strong.subtitle
          | Cum sociis natoque penatibus et magnis dis
          | parturient montes, nascetur ridiculus mus.
  <!-- end toparea -->
