extends _layout

block title
  title Main Page

block content
  <!-- begin toparea -->
  .toparea
    .toparea__inner
      include _header

      .l
        h1.heading
          | Don’t settle for <del>chaotic</del> notes.
        strong.subtitle
          | Cum sociis natoque penatibus et magnis dis
          | parturient montes, nascetur ridiculus mus.
  <!-- end toparea -->

  <!-- begin feature -->
  .feature
    .l
      .feature__inner
        .feature__cell

          h3.feature__title
            | Capture information with ease.
          p.feature__text
            | Donec sed odio dui. Cras mattis consectetur purus
            | sit amet fermentum. Cras justo odio, dapibus ac
            | facilisis in, egestas eget quam. Vestibulum id
            | ligula porta felis euismod semper.
            | Etiam porta sem malesuada magna mollis euismod.
            | Curabitur blandit tempus porttitor.
            | Cras mattis consectetur purus sit amet fermentum.
            | Curabitur blandit tempus porttitor.
          button.btn.btn_blue(type="button")
            span Sign up for free

          <!-- begin user -->
          .user
            .user__pic
              img(src="http://placehold.it/100x100", alt="user pic")
            blockquote.user__feedback
              p.user__feedback-text
                | “Cras justo odio, dapibus ac facilisis in,
                | egestas eget quam. Fusce KustomNote dapibus.”
              cite.user__name
                | Julie, in Nevada
              a.user__link(href="#")
                | See Julie’s Templates
          <!-- end user -->

        .feature__cell
          .feature__pic.capture
  <!-- end feature -->

  <!-- begin feature -->
  .feature.feture_replace
    .l
      .feature__inner
        .feature__cell
          .feature__pic.find

        .feature__cell

          h3.feature__title
            | Capture information with ease.
          p.feature__text
            | Donec sed odio dui. Cras mattis consectetur purus
            | sit amet fermentum. Cras justo odio, dapibus ac
            | facilisis in, egestas eget quam. Vestibulum id
            | ligula porta felis euismod semper.
            | Etiam porta sem malesuada magna mollis euismod.
            | Curabitur blandit tempus porttitor.
            | Cras mattis consectetur purus sit amet fermentum.
            | Curabitur blandit tempus porttitor.
          button.btn.btn_orange(type="button")
            span Sign up for free

          <!-- begin user -->
          .user.user_replace
            .user__pic
              img(src="http://placehold.it/100x100", alt="user pic")
            blockquote.user__feedback
              p.user__feedback-text
                | “Cras justo odio, dapibus ac facilisis in,
                | egestas eget quam. Fusce KustomNote dapibus.”
              cite.user__name
                | Jonas, in Iceland
              a.user__link(href="#")
                | See Jonas’ Templates
          <!-- end user -->
  <!-- end feature -->
