extends _layout

block title
  title Main Page

block content
  <!-- begin toparea -->
  .toparea
    .toparea__inner
      include _header

      .l
        h1.heading
          | Don’t settle for <del>chaotic</del> notes.
        strong.subtitle
          | Cum sociis natoque penatibus et magnis dis
          | parturient montes, nascetur ridiculus mus.
  <!-- end toparea -->

  <!-- begin feature -->
  section.feature.feature_bgmod
    .l
      .feature__outer
        .feature__inner

          h3.title.title_blue
            | Capture information with ease.
          p.feature__text
            | Donec sed odio dui. Cras mattis consectetur purus
            | sit amet fermentum. Cras justo odio, dapibus ac
            | facilisis in, egestas eget quam. Vestibulum id
            | ligula porta felis euismod semper.
            | Etiam porta sem malesuada magna mollis euismod.
            | Curabitur blandit tempus porttitor.
            | Cras mattis consectetur purus sit amet fermentum.
            | Curabitur blandit tempus porttitor.
          button.btn.btn_blue(type="button")
            span Sign up for free

          .feature__pic.capture

          <!-- begin user -->
          .user
            .user__pic
              img(src="img/users/user1.jpg", alt="user pic")
            blockquote.user__feedback
              p.user__feedback-text
                | “Cras justo odio, dapibus ac facilisis in,
                | egestas eget quam. Fusce KustomNote dapibus.”
              cite.user__name
                | Julie, in Nevada
              a.user__link(href="#")
                | See Julie’s Templates
          <!-- end user -->
  <!-- end feature -->

  <!-- begin feature -->
  section.feature.feture_replace.feature_bgmod
    .l
      .feature__outer
        .feature__inner

          h3.title.title_orange
            | Find Everything.
          p.feature__text
            | Donec sed odio dui. Cras mattis consectetur purus
            | sit amet fermentum. Cras justo odio, dapibus ac
            | facilisis in, egestas eget quam. Vestibulum id
            | ligula porta felis euismod semper.
            | Etiam porta sem malesuada magna mollis euismod.
            | Curabitur blandit tempus porttitor.
            | Cras mattis consectetur purus sit amet fermentum.
            | Curabitur blandit tempus porttitor.
          button.btn.btn_orange(type="button")
            span Sign up for free

          .feature__pic.find

          <!-- begin user -->
          .user.user_replace
            .user__pic
              img(src="img/users/user2.jpg", alt="user pic")
            blockquote.user__feedback
              p.user__feedback-text
                | “Cras justo odio, dapibus ac facilisis in,
                | egestas eget quam. Fusce KustomNote dapibus.”
              cite.user__name
                | Jonas, in Iceland
              a.user__link(href="#")
                | See Jonas’ Templates
          <!-- end user -->
  <!-- end feature -->

  <!-- begin feature -->
  section.feature
    .l
      .feature__outer
        .feature__inner

          h3.title.title_purple
            | Powered by a community of people just like you.
          p.feature__text
            | Donec sed odio dui. Cras mattis consectetur purus
            | sit amet fermentum. Cras justo odio, dapibus ac
            | facilisis in, egestas eget quam. Vestibulum id
            | ligula porta felis euismod semper.
            | Etiam porta sem malesuada magna mollis euismod.
            | Curabitur blandit tempus porttitor.
            | Cras mattis consectetur purus sit amet fermentum.
            | Curabitur blandit tempus porttitor.
          button.btn.btn_purple(type="button")
            span Sign up for free

          .feature__slider
            <!-- begin slider -->
            .slider.js-slick
              .slide(style="background-image:url('img/slides/slide.jpg')")
                .slide__footer
                  span.slide__caption
                    | Templates for Business
              .slide(style="background-image:url('img/slides/slide.jpg')")
                .slide__footer
                  span.slide__caption
                    | Templates for Business
              .slide(style="background-image:url('img/slides/slide.jpg')")
                .slide__footer
                  span.slide__caption
                    | Templates for Business
            <!-- end slider -->

          <!-- begin user -->
          .user
            .user__pic
              img(src="img/users/user3.jpg", alt="user pic")
            blockquote.user__feedback
              p.user__feedback-text
                | “Cras justo odio, dapibus ac facilisis in,
                | egestas eget quam. Fusce KustomNote dapibus.”
              cite.user__name
                | Vladmir, in Ukraine
              a.user__link(href="#")
                | See Vladmir’s Templates
          <!-- end user -->

  <!-- end feature -->

  <!-- begin feature-more -->
  section.feature-more
    .l
      h3.title
        | And so much more...

      .l-columns.l-columns_four
        .column
          figure.figure
            .icon.icon-collect
            figcaption.figure__text
              | Collect data from many sources
          p.text
            | Aenean lacinia bibendum nulla sed consectetur.
            | Maecenas sed diam eget risus varius blandit sit
            | amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.
        .column
          figure.figure
            .icon.icon-collaboration
            figcaption.figure__text
              | Collaboration <br> for teams
          p.text
            | Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            | Sed posuere consectetur est at lobortis.
            | Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean.
        .column
          figure.figure
            .icon.icon-mobile
            figcaption.figure__text
              | Full-featured mobile applications
          p.text
            | Purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna.
            | Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris.
        .column
          figure.figure
            .icon.icon-data
            figcaption.figure__text
              | Data portability <br> forever
          p.text
            | Maecenas sed diam eget risus varius blandit sit amet non magna.
            | Nullam id dolor id nibh ultricies vehicula ut id elit.
            | Etiam porta sem malesuada magna mollis euismod.
  <!-- end feature-more -->
